<%- include("../partials/header") %>

<%- include("../partials/navbar") %>

<div class="" id="demo">
  <h1>say something</h1>
</div>
<img src="kobe.jpg" alt="">


<%- include("../partials/footer") %>
